:root {
  --font-size: 16px;
  --line-height: 1.5;
  --text-color: #2C3E50;
  --background-color: #fff;
  --sans-serif: sans-serif;
  --header-height: 4rem;
  --max-width: 1200px;
}
*, *::before, *::after { box-sizing: border-box; }
html, body { height: 100vh; }
html { font-size: var(--font-size); }
body {
  margin: 0;
  font-family: var(--sans-serif);
  font-size: var(--font-size);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-y: scroll;
}
h1, h2 {
  line-height: 1.2;
  margin: 0;
}
p { margin: 0.5em 0; }
:root {
  --header-height: 4rem;
  --sidebar-width: 100%;
  --border: 1px solid #ccc;
  --max-width: 960px;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}
a {
  color: inherit;
}
a:not(:hover), a:active {
    text-decoration: none;
  }.app.svelte-1gn23j8.svelte-1gn23j8{display:grid;grid-template-rows:auto 1fr auto;height:100%}header.svelte-1gn23j8.svelte-1gn23j8{border-bottom:1px solid #ccc}header.svelte-1gn23j8 .flex.svelte-1gn23j8{display:flex;justify-content:space-between;align-items:center;gap:0 1rem;padding:1rem 2rem 0.5rem;max-width:var(--max-width);margin:0 auto}header.svelte-1gn23j8 nav.svelte-1gn23j8{display:flex;align-items:baseline;gap:0 1rem}.router.svelte-1gn23j8.svelte-1gn23j8{padding:0.5rem 2rem;max-width:var(--max-width);margin:0 auto;height:100%}footer.svelte-1gn23j8.svelte-1gn23j8{border-top:1px solid #ccc}footer.svelte-1gn23j8 .flex.svelte-1gn23j8{display:flex;justify-content:center;align-items:center;gap:0 1rem;padding:0.5rem 2rem;max-width:var(--max-width);margin:0 auto}